# Ignore response file
**/.*.res.md

# Ignore .env file
.env
.env.local


restler
.restler
# Ignore response file
**/.*.res.md

# Ignore .env file
.env
.env.local

# config file created for testing config.yaml from root
config.yaml
